<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="duj.app.signomo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_appico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarPurpleTheme">
        <activity android:name=".activities.AvaliacaoActivity"></activity>
        <activity android:name=".activities.AlterarAvaliacaoActivity" />
        <activity android:name=".activities.InserirAvaliacaoActivity" />
        <activity android:name=".activities.DefinicaoSignoActiviy" />
        <activity android:name=".activities.MapaAstralActivity" />
        <activity android:name=".activities.ConfigActivity" />
        <activity android:name=".activities.SelecaoSignoActivity" />
        <activity android:name=".activities.HoroscopoActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SignActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>